.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-width {
    height: 320px;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(233, 233, 233, 0.938), 0 6px 20px 0 rgba(239, 239, 239, 0.863);
}

.cards-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 65%;
  margin: auto;
}

.card-header {
  /* padding: .75rem 1.25rem; */
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
  padding: 1.25rem;
}

.button-main {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle; 
  border: 1px solid transparent;
  /* padding: 10px 50px; */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin: 15px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4;
}

.button-size {
  width: 200px;
  height: 45px;
}

.button-header {
  padding: 12px 28px; 
  margin: 0;
  text-align: center;
  text-decoration: none;
  font-family: system-ui;
}

.button-color {
  color: #fff;
  background-color: #1f81eb;
  border-color: #007bff;
}

.button-color:hover {
  color: #fff;
  background-color: #0552a5;
  border-color: #2265ac;
}

.button-diff {
  color: #007bff;
  background-color: white;
  border-color: #007bff;
}

.button-diff:hover {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  
}

