.flex-container-footer {
    display: flex;
    justify-content: center;
  }
  
.flex-container-footer > div {
    background-color: #ffffff;
    width: 170px;
    height: 210px;
    margin: 7px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    line-height: 0.9;
    padding-left: 15px;
  }