ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 8px 6px -6px  rgb(210, 224, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-family: system-ui;
  }

  li a:hover {
    background-color: #ddd;
    /* background-color: rgb(153, 185, 255); */
  }
  
  
  .active {
    background-color: rgb(110, 160, 253);
  }
  
  .rightpos {
    float:right;
  }
