.text-center {
    font-family: system-ui;
    font-weight: lighter;
    text-align: center;
    font-size: 15pt;
  }
  
  .text-center p {
      margin: 1px;
  }

  h1 {
    font-weight: lighter;
    font-family: system-ui;
    text-align: center;
    font-size: 3em;
    margin-bottom: 3px;
  }

  h2 {
    font-weight: lighter;
    font-family: system-ui;
    text-align: center;
    /* font-size: 3em; */
  }

  hr {
      width: 90%;
      margin-bottom: 3px;
  }

  .boldfooter {
    font-family: system-ui;
    font-weight: bold;
    font-size: 13pt;
    margin-top: 15px;
    margin-bottom: 5px;
    
  }
  
  .lightfooter {
    font-family: system-ui;
    font-weight: lighter;
    font-size: 11pt;
  }

  .lightfooter a {
      color: black;
      text-decoration: none;
  }

  .lightfooter a:hover {
    color: grey;
    /* text-decoration: underline; */
  }

  .inside-box{
    font-family: system-ui;
    text-align: center;
    font-size: 11pt;
    margin: 1px;
    line-height: 0.6;
  }

.price-heading {
  font-family: system-ui;
  text-align: center;
  font-size: 20pt;
  margin: 2px;
  line-height: 0.6;
  font-weight: 500;
  margin-bottom: 30px;
}

.price-end {
  font-family: system-ui;
  font-size: 18pt;
  font-weight: 400;
  color: #6c757d;
} 



